/lastfmeoystats/secrets.json
/lastfmeoystats/top_annual_albums
/lastfmeoystats/top_annual_artists
/lastfmeoystats/top_annual_tracks
/lastfmeoystats/top_overall_albums
/lastfmeoystats/top_overall_artists
/lastfmeoystats/top_overall_tracks
/lastfmeoystats/top_annual_artist.jpg
.idea/
lastfmeoystats/top_annual_albums.jpg
lastfmeoystats/top_annual_tracks.jpg
lastfmeoystats/top_overall_albums.jpg
lastfmeoystats/top_overall_artist.jpg
lastfmeoystats/top_overall_tracks.jpg
venv/
__pycache__
