/lastfmeoystats/secrets.json
/lastfmeoystats/top_annual_albums
/lastfmeoystats/top_annual_artists
/lastfmeoystats/top_annual_tracks
/lastfmeoystats/top_overall_albums
/lastfmeoystats/top_overall_artists
/lastfmeoystats/top_overall_tracks
/lastfmeoystats/top_annual_artist.jpg
